<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<properties resource="spring/application.properties">
</properties>
 <!-- 别名 -->
<typeAliases>
	<!-- 设置HashMap的别名 -->
	<typeAlias type="java.util.HashMap" alias="hashMap"/>
	<!-- 设置Map的别名 -->
	<typeAlias type="java.util.Map" alias="map"/>
	<!-- 设置Map的别名 -->
	<typeAlias type="java.util.List" alias="list"/>
	<!-- 设置String的别名 -->
	<typeAlias type="java.lang.String" alias="string"/>
</typeAliases>
  
  <mappers>
  	<mapper resource="mybatis/BusinessMapperZW.xml"/>
  </mappers>
   
</configuration>